<h1> Method GET Output</h1>
<h2>{{ output }}</h2>

<h2>Pass your Id to be redirected to individual page</h2>
<form action="/test/submit" method="post">

<input type="text" name="id">
<button type="submit">Send</button>

</form>